# project information
site_name: InvestSuite API documentation
site_url: https://api.investsuite.com/docs
site_author: InvestSuite
site_description: >-
  The InvestSuite API is the one-stop shop for integrations with InvestSuite's
  range of invest-tech solutions. These pages provide technical documentation to
  assist developers working with our APIs.

# docs repository
repo_name: View/Edit on GitHub
repo_url: https://github.com/investsuite/investsuite-api-docs
edit_uri: /investsuite/investsuite-api-docs/blob/master/docs

# copyright
copyright: Copyright &copy; 2021 InvestSuite

# mkdocs config
theme:
  name: material
  custom_dir: overrides

  # don't include mkdocs javascript
  include_search_page: false
  search_index_only: true

  palette:
    scheme: investsuite
  logo: assets/logo.png
  favicon: assets/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  language: en
  icon:
    repo: fontawesome/solid/book
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

# social links
extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://www.investsuite.com/
    - icon: fontawesome/solid/envelope
      link: mailto:hello@investsuite.com
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/investsuite
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/investsuite
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/investsuite

# add custom css
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - meta
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.superfences
  - codehilite:
      guess_lang: false
  - footnotes

plugins:
  - search:
      lang: en

nav:
  - Home:
    - About: index.md
    - Authentication: first_steps.md
  - Common scenarios: 
    - Create and manage users: common_scenarios/users.md
    - Create and manage portfolios: common_scenarios/portfolios.md
    - Retrieve instrument groups: common_scenarios/thematic_search.md
  - Advanced topics:
    - Handling collection responses: advanced_topics/collections.md # Search
    - A closer look at API errors : advanced_topics/errors.md # 422 responses, permissions
    - Embedding: advanced_topics/embedding.md
    # - Search
    # - Identifiers
    # - Policies
    # - Versioning
    # - Data formats: advanced_topics/data_formats.md
    # - Rate limiting: advanced_topics/rate_limiting.md
    # - Idempotency: advanced_topics/idempotency.md
    # - Asynchronous operations: advanced_topics/async.md
  - API specification: "https://public-api.dev.investsuite.com/redoc"
  - Release notes: changelog.md

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js